/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --brandColor: #007bff;
}

.fc-button-group button {
  background: #fff !important;
  color: #000 !important;
}

.fc-timeGridDay-button,
.fc-timeGridWeek-button,
.fc-dayGridMonth-button,
.fc-dayGridYear-button {
  border: none !important;
}

.fc-timeGridDay-button.fc-button-active,
.fc-timeGridWeek-button.fc-button-active,
.fc-dayGridMonth-button.fc-button-active,
.fc-dayGridYear-button.fc-button-active {
  border-bottom: 2px solid var(--brandColor) !important;
}

.fc-timeGridDay-button.fc-button-active:focus,
.fc-timeGridWeek-button.fc-button-active:focus,
.fc-dayGridMonth-button.fc-button-active:focus,
.fc-dayGridYear-button.fc-button-active:focus {
  box-shadow: none !important;
}

.fc-v-event {
  background-color: unset;
  border: none;
}

.notifi {
  position: absolute;
  top: 1px;
  right: 1px;
  z-index: 999;
  background: #d4d406;
  padding: 5px;
  font-weight: bold;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 15px;
  font-size: 15px;
}

.customTooltip {
  background: #fff !important;
  color: #000 !important;
  box-shadow: 0px 0px 6px 0px;
  padding: 10px 0px !important;
  z-index: 999999;
  pointer-events: all !important;
}

.single-event-item {
  border-left: 10px solid var(--brandColor);
  border-bottom: 1px solid grey;
  margin-bottom: 5px;
  padding: 10px;
}

.single-event-item:hover {
  background-color: grey !important;
}

.single-event-item:last-child {
  border-bottom: none !important;
}

.ReactModalPortal {
  z-index: 1;
  position: relative;
}

.ReactModalPortal .ReactModal__Content.ReactModal__Content--after-open {
  width: 40%;
  height: fit-content;
  margin: auto;
}
.single-event-model-wrapper{display: flex;}
.single-event-model-wrapper .model-left{
  border-right: 1px solid black;
  width: 50%;
}
.btn-primary {
  background: var(--brandColor);
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
}
.btn-primary-outline {
  background: #fff;
  color: var(--brandColor);
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid var(--brandColor);
  margin-bottom: 10px;
  gap: 10px;
  display: flex
;
}
.ReactModalPortal .single-event-model-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.ReactModalPortal .single-event-model {
  border: 1px solid #cccccc;
  padding: 15px;
}
.ReactModalPortal .model-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid #ccc;
  align-items: center;
  width: 50%;
}
.fc .fc-timegrid-slot {
  height: 3em;
}
.fc-daygrid-day-events .fc-daygrid-event-harness{
  position: absolute;
}
/* .single-event-job-request {}

.single-event-user {}

.single-event-user {} */