/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
.fc-button-group button {
  background: #fff!important;
  color: #000!important;
}
.fc-timeGridDay-button, .fc-timeGridWeek-button, .fc-dayGridMonth-button, .fc-dayGridYear-button{
  border: none!important;
}

.fc-timeGridDay-button.fc-button-active, .fc-timeGridWeek-button.fc-button-active, .fc-dayGridMonth-button.fc-button-active, .fc-dayGridYear-button.fc-button-active{
  border-bottom: 2px solid blue!important;
}

.fc-timeGridDay-button.fc-button-active:focus, .fc-timeGridWeek-button.fc-button-active:focus, .fc-dayGridMonth-button.fc-button-active:focus, .fc-dayGridYear-button.fc-button-active:focus{
  box-shadow: none!important;
}

.fc-v-event {
  background-color: unset;
  border: none;
}

.notifi {
  position: absolute;
  top: -3px;
  right: -2px;
  z-index: 999;
  background: #d4d406;
  padding: 5px;
  font-weight: bold;
  border-radius: 50%;
}

.customTooltip {
  background: #fff !important;
  color: #000 !important;
  box-shadow: 0px 0px 6px 0px;
  padding: 10px 0px !important;
}

.single-event-item {
  border-left: 10px solid blue;
  border-bottom: 1px solid grey;
  margin-bottom: 5px;
  padding: 10px;
}
.single-event-item:hover{
  background-color: grey!important;
}

.single-event-item:last-child {
  border-bottom: none !important;
}

/* .single-event-job-request {}

.single-event-user {}

.single-event-user {} */